
@{
    ViewData["Title"] = "About";
}


<body>
    <h1>CV</h1>

    <div>

        @ViewBag.Message


        <h2>References</h2>
        <p>References are provided on request</p>

        <h2>Work Experience</h2>
        <h3>2019 - Freelance digital developer</h3>

        <h4>Noroff (Norway)</h4>
        Translation assignment

        <h4>Lionbridge (Ireland)</h4>
        Machine learning and translation projects for Amazon, Google, and Facebook

        <h3>2015-2019 – CEVT (via Essiq)</h3>
        <h4>Automated Valet Parking (2018-2019)</h4>
        Development of logic for low-speed maneuvering algorithms, focus on interaction between pedestrians and level 4/5 autonomous vehicles. Responsibilities: a) Analysis of research, government guidelines and competitors; b) Development of logical algorithms based on probability research of pedestrian behavior in a low-speed environment; c) Systematic documentation of method and algorithm.

        <h4>HMI department (2015-2018)</h4>
        Digital UX development of the CSD/Cluster and accessories in Lynk&Co cars. Responsibilities: a) Harmonizing the interaction between different apps with regards to UX and design guidelines, especially the integration with commercial stand-alone apps; b) Development of an Android-based digital key fob

        <h3>2015 – Swegon (via Semcon)</h3>
        App/Web interface development
        Responsibilities: a) Conducting user study, both from the perspective of the construction industry and of the end-users; b) Report writing that included basic development of logic for app/web interface for ventilation control, as well as guidelines for the integration with existing and future software development.

        <h3>2014-2015 – Essity (via Semcon)</h3>
        Adult diaper testing equipment
        Development of advanced test equipment and test setup for testing adult diapers to replace the current ISO standard with mannequin testing. Responsibilities: a) Investigation of current ISO standard and joint planning with the SCA test lab; b) Development of rear-end simulator with pressure mats and pee control.

        <h3>2014-2015 – Jaguar Land Rover (via Semcon)</h3>
        ROMBI
        Removal Of Menu Based Interfaces: Digital UX/HMI concept development for future interior design of Range Rover.

        <h3>2014 – Husqvarna/Gardena (via Semcon)</h3>
        Garden tools development
        Development of existing gardening tools (secateurs, grass trimmers and spray gun handles) and ergonomic evaluation of different design concepts. Responsibilities: a) Ergonomic support to visual and mechanical designers; b) Documentation of recommended ergonomic guidelines.

        <h3>2014 – TAWI (via Semcon)</h3>
        Development of Vacuum lift
        Development of a vacuum lift for use in container loading/unloading. Responsibilities: a) Ergonomic development of a vacuum lift handle. Conducting user studies as well as ergonomic analysis. b) Supporting role in the mechanical construction of vacuum lift arm with focus on ergonomic/HMI aspects; c) Ergonomic/HMI support for Industrial Designers and Product Developers.

        <h3>2013-2014 – Volvo Car Corp. (via Semcon)</h3>
        HMI evaluation in Driving Simulator
        HMI research in the Volvo Usability Lab, Driving Simulator. Responsibilities: a) Conducting simulator tests for NHTSA guideline approval and internal HMI development; b) Construction of simulator environment, design of test structure and evaluation methods using eye-tracking (Smart-Eye and Ergoneers); c) Conducting minor HMI tests during early stages of HMI development; d) Report writing and documentation.

        <h3>2012-2013 – Volvo Trucks GTT (via Semcon)</h3>
        HMI/Ergonomic evaluation and method development
        Advanced Engineering specialist for HMI and Ergonomics at Volvo Trucks (GTT). Responsibilities: a) Ergonomics method development: vehicle controls, seat, and bunk comfort; b) Documentation and report writing, Sharepoint integration.

        <h2>Education</h2>
        <h3>2006-2012	Industrial Design Engineering</h3>
        Master Program – Chalmers. Major courses:  Computer modelling, Ergonomics, Product development, User needs and requirements, Cognitive Ergonomics, Project Management. Master Thesis at Volvo GTT
        <h3>2005-2005	Upper Secondary Technical School, (Tekniskt Basår)</h3>


        <h3>1996-2000	Bachelor of Science, Gothenburg University.</h3>
        
        Courses:  Archaeology - introductory level (VG) Archaeology - intermediate level (G) Cultural Studies - introductory level (G) The theory of culture (VG) Literature - basic course (G) Literature - advanced level 1 (VG)

        <h2>Languages</h2>
        Swedish – Native
        English – Fluent on a professional level
        Danish, Norwegian – Very good knowledge
        French – Basic

    </div>
</body>

