@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

<html>
<head>

    <link type="text/css" rel="stylesheet" href="MVCStyling.css" />
</head>
<body>
    <h1>GitHub Projects</h1>

    <a class="hyperlink" href="https://github.com/11Larsson11/Calculator">A simple calculator</a><br />
    <a class="hyperlink" href="https://github.com/11Larsson11/Calculator_test">The calculator with test cases</a><br />
    <a class="hyperlink" href="https://github.com/11Larsson11/HangmanGame">The game 'Hangman'</a><br />
    <a class="hyperlink" href="https://github.com/11Larsson11/Vending-Machine_Updated">A vending machine</a><br />
    <a class="hyperlink" href="https://github.com/11Larsson11/Front-End_Assignment1">Front-End assignment 1</a><br />
    <a class="hyperlink" href="https://github.com/11Larsson11/HTML-CSS">Front-End assignment 2</a><br />
    <a class="hyperlink" href="https://github.com/11Larsson11/Sokoban">A Sokoban game</a><br />


  
    <p>@ViewBag.ProjectMessage</p>



</body>
</html>